@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Staatliches&display=swap');

body {
    margin: 0;
}

.box {
    background: linear-gradient(rgb(26, 17, 82), rgb(53, 36, 151));
    color: black;
    width: 100%;
    height: 100vh;
}

.boxTittle {
    font-family: 'Staatliches', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-size: 80px;
    color: white;
    box-sizing: border-box;

    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 3%;
}

.box2>p {
    position: absolute;
    font-size: 60px;
    letter-spacing: 3px;
    color: white;
}

.timeCircle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.box3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 100%;
    padding-top: 3%;
    padding-left: 23%;
    padding-right: 23%;
}

.buttom1img {
    width: 40px;
    height: 40px;
}

.buttom1img>img {
    width: 100%;
}

.buttom1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    border-radius: 100px;
    border-color: rgb(154, 157, 231);
    border-style: solid;
    border-width: 0.5px;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    transition: background-color .3s;
}

.buttom1:active{
    background-color: rgb(154, 157, 231);
}

.buttom2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    border-radius: 100px;
    border-color: rgb(154, 157, 231);
    border-style: solid;
    border-width: 0.5px;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    transition: background-color .3s
}
.buttom2:active{
    background-color: rgb(154, 157, 231);
}


.project1 {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 20%;
    color: rgb(154, 157, 231);
    font-size: 20px;
    font-weight: 1000;
    font-family: 'Staatliches', cursive;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 2px;
}

.btn-primary {
    background-color: rgb(73, 30, 190);
    color: white;
    border-color: rgb(154, 157, 231);
    font-family: 'Staatliches', cursive;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 2px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.inputclass{
    display: flex;
    justify-content: space-between;
}

.inputclass1{
    width: 40px;
}

.inputclass2{
    width: 40px;
}

.inputclass3{
    width: 40px;
}

.project2 {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 20%;
    color: rgb(154, 157, 231);
    font-size: 20px;
    font-weight: 1000;
    font-family: 'Staatliches', cursive;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 2px;
}

.project2 {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 20%;
    color: rgb(154, 157, 231);
    font-size: 20px;
    font-weight: 1000;
    font-family: 'Staatliches', cursive;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 2px;
}

@media only screen and (min-width:0px) and (max-width:768px) {
    .buttom2 {
        margin-left: 40px;
    }

    .buttom1 {
        margin-right: 40px;
    }

    .project1 {
        margin-right: 40px;
    }

    .project2 {
        margin-left: 40px;
    }
}