@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.box1 {
    background-image: url("https://cdn.shopify.com/s/files/1/0016/3273/1188/files/NT_BOOK_PICS-0265.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    /* height: 100vh; */
}

.section1 {
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}


.header {
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 145px;
    box-sizing: border-box;
}

.headerContent1 {
    width: 60px;
}

.logo {
    width: 100%;
}

.logo>img {
    width: 100%;
}

.headerContent2 {
    width: 60px;
}

.fbLogo {
    display: block;
    width: 32px;
    height: 32px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
    border-radius: 5px;
}

.fbLogo>img {
    width: 100%;
}

.headerContent3 {
    width: 400px;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.link {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
}

.content {
    width: 100%;
    height: calc(100% - 145px);
    color: white;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 200px;
}

.titleStyle {
    width: 100%;
    text-align: center;
    font-weight: lighter;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 10px;
}

.subTitle {
    font-size: 28px;
}

.title {
    font-size: 64px;
}

.startButton {
    background: transparent;
    width: 150px;
    height: 40px;
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    cursor: pointer;

    /* 當這個元素是 display block 才能用的招 */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* margin-left: auto;
    margin-right: auto; */
    /* 上 右 下 左 */
    /* margin: 0 auto 0 auto; */
    /* 上下 左右 */
    margin: 0 auto;
    /* border-style: solid;
    border-width: 1px;
    border-color: white; */
    border: solid 1px white;
}

.startButton:focus {
    outline: none;
}

.startButton:hover {
    color: black;
    background-color: white;
}
