@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');

body {
    margin: 0;
}

.backgroundSize {
    background-image: url(https://p1.pstatp.com/origin/pgc-image/423458339d1b416a8409344b757f16da);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding-top: 130px;
    box-sizing: border-box;
    overflow: hidden;
}

.box1 {
    background-color: black;
    color: cornsilk;
    width: 33%;
    height: 600px;
    margin-left: 33%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.project1 {
    background-color: rgb(20, 19, 19);
    width: 33.3%;
    height:33.3%;
    color: rgb(20, 19, 19);
    border-bottom: solid;
    border-right: solid;
    border-color: rgba(253, 249, 249, 0.822);
    border-width: 5px;
    box-sizing: border-box;
}

.project2 {
    background-color: rgb(20, 19, 19);
    width: 33.3%;
    height:33.3%;
    color: rgb(20, 19, 19);
    border-bottom: solid;
    border-right: solid;
    border-color: rgb(253, 249, 249, 0.822);
    border-width: 5px;
    box-sizing: border-box;

}

.project1>img {
    width: 100%;
    height: 100%;
}

.project2>img {
    width: 100%;
    height: 100%;
}

.project3>img {
    width: 100%;
    height: 100%;
}

.project3 {
    background-color: rgb(20, 19, 19);
    width: 33.4%;
    height:33.3%;
    color: rgb(20, 19, 19);
    border-bottom: solid;
    border-color: rgb(253, 249, 249, 0.822);
    border-width: 5px;
    box-sizing: border-box;
}

.project4 {
    background-color: rgb(20, 19, 19);
    width: 33.3%;
    height:33.3%;
    color: rgb(20, 19, 19);
    border-bottom: solid;
    border-right: solid;
    border-color: rgb(253, 249, 249, 0.822);
    border-width: 5px;
    box-sizing: border-box;
}

.project4>img {
    width: 100%;
    height: 100%;
}

.project5>img {
    width: 100%;
    height: 100%;
}

.project6>img {
    width: 100%;
    height: 100%;
}

.project7>img {
    width: 100%;
    height: 100%;
}

.project5 {
    background-color: rgb(20, 19, 19);
    width: 33.3%;
    height:33.3%;
    color: rgb(20, 19, 19);
    border-bottom: solid;
    border-right: solid;
    border-color: rgb(253, 249, 249, 0.822);
    border-width: 5px;
    box-sizing: border-box;
}

.project6 {
    background-color: rgb(20, 19, 19);
    width: 33.4%;
    height:33.3%;
    color: rgb(20, 19, 19);
    border-bottom: solid;
    border-color: rgb(253, 249, 249, 0.822);
    border-width: 5px;
    box-sizing: border-box;
}

.project7 {
    background-color: rgb(20, 19, 19);
    width: 33.3%;
    height:33.4%;
    color: rgb(20, 19, 19);
    border-right: solid;
    border-color: rgb(253, 249, 249, 0.822);
    border-width: 5px;
    box-sizing: border-box;
}

.project8 {
    background-color: rgb(20, 19, 19);
    width: 33.3%;
    height:33.4%;
    color: rgb(20, 19, 19);
    border-right: solid;
    border-color: rgb(253, 249, 249, 0.822);
    border-width: 5px;
    box-sizing: border-box;
}

.project9 {
    background-color: rgb(20, 19, 19);
    width: 33.4%;
    height:33.4%;
    color: rgb(20, 19, 19);
    border-color: rgb(253, 249, 249, 0.822);
    border-width: 5px;
    box-sizing: border-box;
}

.project8>img {
    width: 100%;
    height: 100%;
}

.project9>img {
    width: 100%;
    height: 100%;
}

.box2 {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    letter-spacing: 2px;
    padding-left: 30%;
    padding-right: 32%;
    box-sizing: border-box;
}

.headder1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 30px
}

.box3 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    box-sizing: border-box;
}

.starButton {
    background-color: rgb(73, 30, 190);
    width: 90px;
    height: 40px;
    color: white;
    border-color: rgb(253, 249, 249, 0.822);
    border-width: 5px;
    margin-top: 25px;
    font-family: 'Raleway', sans-serif;
}
.starButton1{
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width:0px) and (max-width:768px) {
    .backgroundSize {
        padding-top: 20px;
        background-image: url(/project2/ooxx/istockphoto-501655522-612x612.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .box1 {
        height: 60%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
    }

    .starButton1{
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        box-sizing: border-box;
    }

    .box2 {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 150px;
        letter-spacing: 2px;
        box-sizing: border-box;
        padding-left: 5px;
        padding-right: 5px;
    }
    .box3 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        box-sizing: border-box;
    }
    .headder1{
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 20px
    }
}