@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');


body {
    margin: 0;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    color: black;
    box-sizing: border-box;
}

.box1-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 70px;
    color: black;
    background-color: white;
    box-sizing: border-box;
    border-bottom: 1px solid #d7d7f7;
}

.box1-1-1 {
    width: 38px;
    height: 38px;
}

.box1-1-1>img {
    width: 100%;
}

.box1-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 39%;
    height: 70px;
    color: #d0d4db;
    font-family: 'Rubik', sans-serif;
    background-color: white;
    box-sizing: border-box;
    border-bottom: 1px solid #d0d4db;
    border-left: 1px solid #d0d4db;
}

.box1-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: #d0d4db;
    cursor: pointer;
    transition: color .5s;
}

.box1-2-1 {
    margin-left: 30px;
}

.box1-2-4 {
    margin-right: 30px;
}

.box1-2-1:hover,
.box1-2-2:hover,
.box1-2-3:hover,
.box1-2-4:hover {
    color: #2221a3;
    cursor: pointer;
    border-bottom: 3px solid #2221a3;
}

.box1-3 {
    display: flex;
    width: 37%;
    height: 70px;
    color: #d0d4db;
    font-family: 'Rubik', sans-serif;
    background-color: white;
    box-sizing: border-box;
    border-bottom: 1px solid #d0d4db;
    border-left: 1px solid #d0d4db;
}

.box1-3-1 {
    display: flex;
    align-items: center;
    width: 50px;
    height: 100%;
    color: brown;
    padding-left: 25px;
    box-sizing: border-box;
}

.box1-3-1-1 {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}

.box1-3-1-1>img {
    width: 100%;
}

.box1-3-1-2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #d0d4db;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    padding-left: 10px;
}

.box1-3-1-3 {
    color: #d0d4db;
    width: 100%;
    outline: none;
    border: white;
}

.box1-4 {
    display: flex;
    width: 19%;
    height: 70px;
    color: #d0d4db;
    font-family: 'Rubik', sans-serif;
    background-color: white;
    box-sizing: border-box;
    border-bottom: 1px solid #d0d4db;
}

.box1-4-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.box1-4-1>p {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: red;
    font-size: 11px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 3px;
}

.box1-4-1-1 {
    width: 30px;
    height: 30px;
}

.box1-4-1-1>img {
    width: 100%;
}

.box1-4-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    color: #4f5050;
    box-sizing: border-box;
    margin-left: 40px;
}

.box1-4-2-1 {
    display: flex;
    box-sizing: border-box;
    margin-right: 50px;
    padding-bottom: 3px;
}

.box1-4-2-2 {
    box-sizing: border-box;
    padding-left: 20px;
}

.box1-4-2-1-1 {
    width: 12px;
    height: 12px;
}

.box1-4-2-1-1>img {
    width: 100%;
}

.box1-4-3 {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
}

.box1-4-3-1 {
    width: 30px;
    height: 30px;
}

.box1-4-3-1>img {
    width: 100%;
}

.boxBackGround {
    width: 100%;
    background: linear-gradient(to right, #cbcbfa 5%, white, white, white, white);
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
}

.box2-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 50px;
}

.box2-1-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    color: #4f5050;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 1px 3px 7px 2px #e4e6fa;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.box2-dropdown-wrapper {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: absolute;
    /* bottom: -155px; */
    top: 58px;
    /* box-shadow: 1px 3px 7px 2px #e4e6fa; */
    border-radius: 5px;
    transition: all .3s;
}

.box2-dropdown {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-right: 10px;
    overflow-y: scroll;
}

.box2-2-1 {
    width: 12px;
    height: 12px;
    padding-bottom: 5px;
    margin-left: 15px;
    transition: all .5s;
}

.box2-dropdown-item {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dedede;
}

.box2-2-1>img {
    width: 100%;
}

.box2-2 {
    display: flex;
    align-items: center;
    width: 38%;
    height: 50px;
}

.box2-3 {
    display: flex;
    align-items: center;
    width: 12%;
    height: 50px;
    background-color: #f5f7fc;
    border-radius: 10px;
}

.box2-3-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33.3%;
}

.box2-3-1-1 {
    height: 30px;
    width: 30px;
}

.box2-3-1-1>img {
    width: 100%;
}

.box2-3-1:hover {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px 5px 2px #edeefa;
}

.box3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
}

.box3-1 {
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    width: 31.3%;
    color: black;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 1px 3px 7px 2px #edeefa;
}

.box3-1-space {
    margin-left: 3%;
    margin-right: 3%;
}

.box3-1-1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    padding-left: 50px;
}

.box3-1-1-1 {
    width: 50px;
    height: 50px;
}

.box3-1-1-1>img {
    width: 100%;
}

.textMargin {
    margin-left: 3%;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    font-size: 23px;
    color: #4f5050;
}

.textMargin1 {
    margin-left: 3%;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: #4f5050;
}


.box3-1-2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    padding-left: 50px;
}

.box3-1-3 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    padding-left: 50px;
}

.box3-1-3-1 {
    width: 30px;
    height: 30px;
}

.box3-1-3-1>img {
    width: 100%;
}

.box3-1-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.box3-1-4-1 {
    width: 60%;
    height: 100%;
    color: black;
    display: flex;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #d0d4db;
}

.box3-1-4-2 {
    width: 35%;
    height: 100%;
    color: black;
    border-radius: 10px;
    border: 1px solid #d0d4db;
    margin-bottom: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

.box3-1-4-1-1 {
    border-radius: 10px;
    width: 40%;
    height: 100%;
}

.box3-1-4-1-1-1 {
    height: 100%;
    width: 88px;
}

.box3-1-4-1-1-1>img {
    width: 100%;
}

.box3-1-4-1-2 {
    width: 60%;
    height: 100%;
}

.miniBox1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30%;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: #84868a;
    box-sizing: border-box;
    padding-right: 10px;
    padding-top: 13px;
}

.miniBox2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
    color: #31cece;
}

.miniBox3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30%;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: #84868a;
    box-sizing: border-box;
    padding-right: 10px;
    padding-top: 13px;
}

.miniBox4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
    font-weight: 750;
    font-size: 28px;
    color: #4f5050;
}